@charset "UTF-8";
body {
  padding-top: 10px;
}
.start {
  padding: 40px 15px;
  text-align: left;
}
.panel-body {
  text-align: left;
}

.btn-primary {
  background-color: #000;
  border-color: #000;
   color: #F2C811;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
  background-color: #F2C811;
  border-color: #F2C811;
   color: #000;
}

.navbar-inverse .navbar-brand{
   color: #F2C811;

  }
   .panel-info > .panel-heading {
     background-color: #ddd;
     border-color: #ccc;
     color: #000;
   }
   .panel-info {
      border-color: #ccc;
   }
.x {
    cursor:pointer;
}